<title>Edit Flight - Airy</title>
<%- include("../partials/1-head") %> 
<%- include("../partials/2-nav") %>
<main>
  <div class="main-add-flights">
    <div class="content-container-add">
      <div class="content-header">
        <div class="content-header-title">Edit Flight</div>
      </div>
      <div class="content-body-add">
        <!-- FORM-->
        <form 
          class="add-flight-forum" 
          action="/flights/<%= flight._id %>?_method=PUT" 
          method="POST"
        > 
          <!-- Airline -->
          <label class="add-flight-label" for="airline-input">Airline</label>
          <select class="add-flight-input" name="airline">
            <option value="<%= flight.airline %>"><%= flight.airline %> (Current)</option>
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
          </select> 
          <!-- Departing Airport -->
          <label class="add-flight-label" for="airportDep-input">Departing Airport</label>
          <select class="add-flight-input" name="airportDep">
            <option value="<%= flight.airportDep %>"><%= flight.airportDep %> (Current)</option>
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="SAN">SAN</option>
            <option value="LAX">LAX</option>
          </select>
          <!-- Arriving -->
          <label class="add-flight-label" for="airportArr-input">Arriving Airport</label>
          <select class="add-flight-input" name="airportArr">
            <option value="<%= flight.airportArr %>"><%= flight.airportArr %> (Current)</option>
            <option value="DFW">DFW</option>
            <option value="AUS">AUS</option>
            <option value="DEN">DEN</option>
            <option value="SAN">SAN</option>
            <option value="LAX">LAX</option>
          </select>
          <!-- Flight Number -->
          <label class="add-flight-label" for="flightNo-input">Flight Number</label> 
          <input class="add-flight-input" type="text" name="flightNo" value="<%= flight.flightNo %>">
          <!-- Departure Time -->
          <label class="add-flight-label" for="departTime-input">Departure Time</label>
          <input class="add-flight-input add-flight-date" type="datetime-local" name="departTime" value="<%= flight.departTime %>">
          <!-- Tickets -->
            <div class="add-flight-ticket">
              <div>
                <!-- Seat -->
                <label class="add-flight-t-label" for="seat-input">Seat: A-F/1-9</label>
                <input class="add-flight-t-input" type="text" value="A9" name="seat">
              </div>
            <div>
              <!-- Price -->
              <label class="add-flight-t-label" for="price-input">Price:</label>
              <input class="add-flight-t-input" type="text" value="100" name="price">
            </div>
            <div>
              <!-- Submit -->
              <button type="submit" class="add-flight-submit-b">Edit Flight</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>  
<%- include("../partials/3-footer") %> 