<title>All Flights - Airy</title>
<%- include("../partials/1-head") %>
<%- include("../partials/2-nav") %>
  <main>
    <div class="main-all-flights">
      <div class="content-container">
        <div class="content-header">
          <div class="content-header-title">Flights List</div>
        </div>
        <div class="content-body">
          <table class="all-flights-table">
            <thead>
              <tr>
                <th>Airline</th>
                <th>Departing</th>
                <th>Ariving</th>
                <th>Flight #</th>
                <th>Departure Time</th>
                <th>Seat</th>
                <th>Details</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody class="all-flight-tbody">
              <% flights.forEach(flight => { %>
                <tr class="td-center">
                  <td><%= flight.airline %></td>
                  <td><%= flight.airportDep %></td>
                  <td><%= flight.airportArr %></td>
                  <td><%= flight.flightNo %></td>
                  <td><%= flight.departTime %></td>
                  <% flight.tickets.forEach(ticket => { %>
                    <td><%= ticket.seat %></td>
                  <% }) %> 
                <td>
                  <a href="/flights/<%= flight._id %>">
                    <i class="fa-solid fa-list"></i>
                  </a>
                </td>
                <td>
                  <form 
                    style="margin: 0;"
                    action="/flights/<%= flight._id %>?_method=DELETE"
                    method="POST"
                  >
                    <button class="all-flights-button">
                      <i class="fa-solid fa-x"></i>
                    </button>
                  </form>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main> 
<%- include("../partials/3-footer") %> 